{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}



<!-- result  -->
<section>
    <div class="goalbox" >
        <h1  style="font-size: xx-large;">Industrial Waste analytics</h1>
        <br>
        <p> Data will show how much waste is recycled by industries </p>
        <p >We are trying to maintain the balance of distribution of waste among industries and also try to maximize their profit</p>
        <br>
    </div>

    <div class="container text-center">
        <a href="/industryform" style="float: none;" class="but" >Add Data</a>
    </div>
    
    <div  class="centertable">
        <div class="goalbox">
        
        <p style="color: coral;background-color: antiquewhite;" class="goalbox"> These companies are getting excess waste and are have to dump rest</p>
        
    </div>
            <table class="styled-table">
            
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Name of Company</th>
                    <th>Plant Capacity(in tonnes)</th>
                    <th>Waste Collected(in tonnes)</th>
                    <th>Waste Recycled(in tonnes)</th>
                    <th>Time</th>
                    <th>Email Id</th>
                    <th>Contact</th>      
                </tr>
            </thead>
            <tbody>
                {% for x in industry %}
                <tr class="active-row">
                    {%if x.plantcap>x.waste_collected %}
                    <td>{{x.sno}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.plantcap}}</td>
                    <td>{{x.waste_collected}}</td>
                    <td>{{x.waste_recycled}}</td>
                    <td>{{x.Time}}</td>
                    <td>{{x.emailid}}</td>
                    <td>{{x.phoneno}}</td>
                   
                    </tr>
                    {% endif %}
                    {% endfor %}
            </tbody>
        </table>
    </div>
<br>
    <div  class="centertable">
        <div class="goalbox">
        
        <p style="color: coral;background-color: antiquewhite;" class="goalbox"> These companies are getting less waste and should be alloted more</p>
        
    </div>
            <table class="styled-table">
            
            <thead>
                <tr>
                    <th>Sno</th>
                    <th>Name of Company</th>
                    <th>Plant Capacity(in tonnes)</th>
                    <th>Waste Collected(in tonnes)</th>
                    <th>Waste Recycled(in tonnes)</th>
                    <th>Time</th>
                    <th>Email Id</th>
                    <th>Contact</th>      
                </tr>
            </thead>
            <tbody>
                {% for x in industry %}
                <tr class="active-row">
                    {%if x.waste_collected>x.plantcap %}
                    <td>{{x.sno}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.plantcap}}</td>
                    <td>{{x.waste_collected}}</td>
                    <td>{{x.waste_recycled}}</td>
                    <td>{{x.Time}}</td>
                    <td>{{x.emailid}}</td>
                    <td>{{x.phoneno}}</td>
                   
                    </tr>
                    {% endif %}
                    {% endfor %}
            </tbody>
        </table>
    </div>
    







    <style>
        .centertable {
            margin-left: 5%;
            margin-right: 5%;
        }

        .styled-table {
            border-collapse: collapse;
            margin: 25px 100px;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #E88873;
            color: #29133b;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #E88873;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #E88873;
        }

        .button {
            background-color: #E0AC9D;
            /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }
    </style>

    
    {% endblock body %}