{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}



<!-- result  -->
<section>
    <div class="goalbox" >
        <h1>Add your data   </h1>
        
        <br>
    </div>

    <div class="container">
        <form name="data" action="/industry" method="POST" >
            <div class="row">
                <div class="col-50">
                    <label for="name">Name of the company</label>
                </div>
                <div class="col-50">
                    
                    <input type="text" id="name" name="name" placeholder="Name of comapny..." required>
                </div>
            </div>

            <div class="row">
                <div class="col-50">
                    <label for="plantcap">Plant capacity (in tonnes)</label>
                </div>
                <div class="col-50" style="padding: 0.8em;">
                    <input type="number" id="plantcap" name="plantcap" placeholder="plant capacity..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-50">
                    <label for="collect">Waste Collected (in tonnes)</label>
                </div>
                <div class="col-50" style="padding: 0.8em;">
                    <input type="number" id="collect" name="collect" placeholder="waste collected..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-50">
                    <label for="recycled">Waste Recycled (in tonnes)</label>
                </div>
                <div class="col-50" style="padding: 0.8em;">
                    <input type="number" id="recycled" name="recycled" placeholder="waste recycled..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-50">
                    <label for="email">Email-Id</label>
                </div>
                <div class="col-50" style="padding: 0.8em;">
                    <input type="email" id="email" name="email" placeholder="email id..." required>
                </div>
            </div>
            <div class="row">
                <div class="col-50">
                    <label for="contact">Contact No.</label>
                </div>
                <div class="col-50" style="padding: 0.8em;">
                    <input type="number" id="contact" name="contact" placeholder="contact no...." >
                </div>
            </div>


            <div class="row ">
                <button type="submit" class="but">Submit</button>
            </div>
        </form>
    </div>

    {% endblock body %}