{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}



<!-- result  -->
<section>
    <div class="goalbox" >
        <h1>Industrial Waste analytics</h1>
        <p> Data will show how much waste is recycled by industries </p>
        <p >We are trying to maintain the balance of distribution of waste among industries and also try to maximize their profit</p>
        <br>
    </div>

    <div class="container text-center">
        <a href="/industryform" style="float: none;" class="but" >Add Data</a>
       
    </div>
    </script>
    {% endblock body %}