{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}



<!-- result  -->
<section>
    <div class="goalbox">
        <h1>Dashboard</h1>
        <p> Now, you can visualize the status of Bangalore city in terms of waste and how your area is doing</p>
        <br>
    </div>

    <div class="container text-center col-50">
        <a href="/localform" style="float: none;" class="but">Add New Data</a>
    </div>
    <div class="container text-center col-50">
        <a href="#newdata" style="float: none;" class="but">See latest Data</a>
    </div>
    <br><br>
</section>
<br>
<br><br>
<div class="row" style="padding-left: 0.5cm;padding-right: 0.5cm;">
    <div class="col-50">
        <img src="{{url_for('static',filename='img/generate.png')}}" alt="genearted waste" width="95%" height="400">
    </div>
    <div class="col-50">
        <img src="{{url_for('static',filename='img/recycled.png')}}" alt="genearted waste" width="95%" height="400">
    </div>
</div>

<br>

<div class="container">
    <br>
    <rbr></rbr>
    <div class="text-center">
        <a style="float: none;" href="/cluster" class="but">See detailed cluster wise data on the map of Bangalore</a>
       <br>
    </div>
    <br>
</div>
<br><br>
<div class="row">

    <script>
        const urldata = JSON.parse('{{ urldata | tojson }}');


        document.addEventListener("DOMContentLoaded", function () {
            $.ajax({
                url: urldata,
                dataType: "text",
                success: function (data) {
                    var csvdata = data.split(/\r?\n|\r/);
                    var table_data = '<table class="table table-bordered table-striped">';
                    for (var count = 0; count <= 10; count++) {
                        var cell_data = csvdata[count].split(",");
                        table_data += '<tr>';
                        for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                            if (count === 0) {
                                table_data += '<th>' + cell_data[cell_count] + '</th>';
                            }
                            else {
                                table_data += '<td>' + cell_data[cell_count] + '</td>';
                            }
                        }
                        table_data += '</tr>';
                    }
                    table_data += '</table>';
                    $('#data_table2').html(table_data);
                }
            });
        });
    </script>
    <div class="col-50" style="width: 45%; margin-left: 2%;padding-bottom: 1.25%;  border: 4cm; background-color: rgb(123, 197, 116);">
        <h3 id="rank">Top 10 Least Dry Waste Generating wards in last 3 years</h3>
        <div id="data_table2" style="margin: 1em 1em 1em 1em;">

        </div>
    </div>

    <script>


        document.addEventListener("DOMContentLoaded", function () {
            $.ajax({
                url: urldata,
                dataType: "text",
                success: function (data) {
                    var csvdata = data.split(/\r?\n|\r/);
                    var table_data = '<table class="table table-bordered table-striped">';
                    var cell_data = csvdata[0].split(",");
                    table_data += '<tr>';
                    for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                        table_data += '<th>' + cell_data[cell_count] + '</th>';
                    }
                    table_data += '</tr>';
                    for (var count = csvdata.length - 11; count < csvdata.length; count++) {
                        var cell_data = csvdata[count].split(",");
                        table_data += '<tr>';
                        for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                            if (count === 0) {
                                table_data += '<th>' + cell_data[cell_count] + '</th>';
                            }
                            else {
                                table_data += '<td>' + cell_data[cell_count] + '</td>';
                            }
                        }
                        table_data += '</tr>';
                    }
                    table_data += '</table>';
                    $('#data_table5').html(table_data);
                }
            });
        });
    </script>
    <div class="col-50" style="width: 45%; margin-left: 2%; border: 4cm; background-color: rgb(212, 132, 132);">
        <h3 id="rank">Worst 10 Most Dry Waste Generating wards in last 3 years</h3>
        <div id="data_table5" style="margin: 1em 1em 1em 1em;">

        </div>
    </div>
</div>


<br>
<br>


<div class="text-center">
    <a style="float: none;" onclick="show()" class="but">Show/Hide Full Data</a>
</div>
<script>
    count = 0;
    function show() {
        if (count == 0) {
            document.getElementById("data_table").style.display = "block";
            count++;
        }
        else {
            document.getElementById("data_table").style.display = "none";
            count--;
        }
    }
</script>

<script>


    document.addEventListener("DOMContentLoaded", function () {
        $.ajax({
            url: urldata,
            dataType: "text",
            success: function (data) {
                var csvdata = data.split(/\r?\n|\r/);
                var table_data = '<table class="table table-bordered table-striped">';

                for (var count = 0; count < csvdata.length; count++) {
                    var cell_data = csvdata[count].split(",");
                    table_data += '<tr>';
                    for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                        if (count === 0) {
                            table_data += '<th>' + cell_data[cell_count] + '</th>';
                        }
                        else {
                            table_data += '<td>' + cell_data[cell_count] + '</td>';
                        }
                    }
                    table_data += '</tr>';
                }
                table_data += '</table>';
                $('#data_table').html(table_data);
            }
        });
    });
</script>
<div id="data_table" style="margin: 1em 5em 1em 5em;">
</div>

<br>
<br>
<div class="row">
<script>
    const urldata2 = JSON.parse('{{ urldata2 | tojson }}');


    document.addEventListener("DOMContentLoaded", function () {
        $.ajax({
            url: urldata2,
            dataType: "text",
            success: function (data) {
                var csvdata = data.split(/\r?\n|\r/);
                var table_data = '<table class="table table-bordered table-striped">';

                for (var count = 0; count <= 10; count++) {
                    var cell_data = csvdata[count].split(",");
                    table_data += '<tr>';
                    for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                        if (count === 0) {
                            table_data += '<th>' + cell_data[cell_count] + '</th>';
                        }
                        else {
                            table_data += '<td>' + cell_data[cell_count] + '</td>';
                        }
                    }
                    table_data += '</tr>';
                }
                table_data += '</table>';
                $('#data_table6').html(table_data);
            }
        });
    });
</script>
<div class="col-50" style="width: 45%; margin-left: 2%;padding-bottom: 1.25%; border: 4cm; background-color: rgb(123, 197, 116);">
    <h3 id="rank">Top 10 Most Waste Recycling Wards in last 3 years</h3>
    <div id="data_table6" style="margin: 1em 1em 1em 1em;">

    </div>
</div>



<script>


    document.addEventListener("DOMContentLoaded", function () {
        $.ajax({
            url: urldata2,
            dataType: "text",
            success: function (data) {
                var csvdata = data.split(/\r?\n|\r/);
                var table_data = '<table class="table table-bordered table-striped">';
                    var cell_data = csvdata[0].split(",");
                    table_data += '<tr>';
                    for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                    table_data += '<th>' + cell_data[cell_count] + '</th>';
                }
                table_data += '</tr>';
                for (var count = csvdata.length - 11; count < csvdata.length; count++) {
                    var cell_data = csvdata[count].split(",");
                    table_data += '<tr>';
                    for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                        if (count === 0) {
                            table_data += '<th>' + cell_data[cell_count] + '</th>';
                        }
                        else {
                            table_data += '<td>' + cell_data[cell_count] + '</td>';
                        }
                    }
                    table_data += '</tr>';
                }
                table_data += '</table>';
                $('#data_table3').html(table_data);
            }
        });
    });
</script>
<div class="col-50" style="width: 45%; margin-left: 2%; border: 4cm; background-color: rgb(212, 132, 132);">
    <h3 id="rank">Worst 10 Most Waste Recycling Wards in last 3 years</h3>
    <div id="data_table3" style="margin: 1em 1em 1em 1em;">

    </div>
</div>
</div>
<br>
<br>
<div class="text-center">
    <a style="float: none;" onclick="show2()" class="but">Show/Hide Full Data</a>
</div>
<script>
    count = 0;
    function show2() {
        if (count == 0) {
            document.getElementById("data_table4").style.display = "block";
            count++;
        }
        else {
            document.getElementById("data_table4").style.display = "none";
            count--;
        }
    }
</script>

<script>


    document.addEventListener("DOMContentLoaded", function () {
        $.ajax({
            url: urldata2,
            dataType: "text",
            success: function (data) {
                var csvdata = data.split(/\r?\n|\r/);
                var table_data = '<table class="table table-bordered table-striped">';

                for (var count = 0; count < csvdata.length; count++) {
                    var cell_data = csvdata[count].split(",");
                    table_data += '<tr>';
                    for (var cell_count = 0; cell_count < cell_data.length; cell_count++) {
                        if (count === 0) {
                            table_data += '<th>' + cell_data[cell_count] + '</th>';
                        }
                        else {
                            table_data += '<td>' + cell_data[cell_count] + '</td>';
                        }
                    }
                    table_data += '</tr>';
                }
                table_data += '</table>';
                $('#data_table4').html(table_data);
            }
        });
    });
</script>
<div id="data_table4" style="margin: 1em 5em 1em 5em;">
</div>
<br><br>
<div class="container" id="newdata">

    <h2>New Data Obtained</h2>
</div>
<div class="centertable">
    <table class="styled-table">
        
        <thead>
            <tr>
                <th>Sno</th>
                <th>Zone</th>
                <th>Ward Number</th>
                <th>Dry Waste collected(in Kg)</th>
                <th>Wet Waste collected(in Kg)</th>
                <th>Mixed Waste Collected(in Kg)</th>
                <th>Year</th>
                <th>Month</th>
            </tr>
        </thead>
        <tbody>
            {% for x in waste %}
            <tr class="active-row">
                
                <td>{{x.sno}}</td>
                <td>{{x.areaname}}</td>
                <td>{{x.wardno}}</td>
                <td>{{x.drywasteamt}}</td>
                <td>{{x.wetwasteamt}}</td>
                <td>{{x.mixedwasteamt}}</td>
                <td>{{x.year}}</td>
                <td>{{x.month}}</td>
                
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>

<style>
    h2{
        text-align: center;
    font-weight: bolder;
    font-family: 'Helvetica Neue', sans-serif;
    text-shadow: #53b4a2 1px 1px;
    text-transform: uppercase;
    font-size: 300%;
    color:rgb(43, 41, 54);
    }


    .centertable {
            margin-left: 5%;
            margin-right: 3%;
        }

        .styled-table {
            border-collapse: collapse;
            margin: 25px 100px;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            background-color: white;
            color: black;
            border: 2px solid #4CAF50;
        }
</style>
{% endblock body %}