{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}



<!-- result  -->
<section>
    <div class="goalbox" >
        <h1>Get Rewarded</h1>
        <p> These people listed here are soon getting reawrds once waste is collected from them</p>
        <p >To win reward just collect waste of particular company products and then add data here</p>
        <br>
    </div>

    <div class="container text-center">
        <a href="/rewardform" style="float: none;" class="but" >Add Data</a>
       
    </div>
    </script>
    {% endblock body %}